.form {
    height: 18rem;
    overflow-y: scroll;
}

.control {
    text-align: center;
    margin-bottom: 15px;
}

.control input {
    width: 50%;
    display: flex;
    margin: 0 auto;
    padding: 8px 10px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid black;
}

.invalid input {
   border-color: #ec6d6d;
}

.invalid label, .invalid p {
    color: red;
}

.actions {
    text-align: right;
}

.actions button {
    font: inherit;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #015d7c;
    padding: 0.5rem 2rem;
    border-radius: 25px;
    margin-left: 1rem;
    transition: background-color ease 0.3s;
}

.actions button:hover,
.actions button:active {
    background-color: #5892a8;
    border-color: #5892a8;
    color: #f5f0e1;
}

.actions .button-alt {
    color: #000;
}

.actions .button {
    background-color: #015d7c;
    color: #f5f0e1;
}
